<div class="login-dialog">
    <h1 md-dialog-title>Login
        <button md-dialog-close class="pull-right close"><md-icon>close</md-icon></button></h1>
    <md-dialog-content class="dialog-container">
        <p class="sub-title">Save and share your playlist with your friends when you log in or create an account.</p>
        <button md-button class="md-block fb">
        <img src="assest/images/facebook_icon.png" class="social-icon pull-left"/> <span class="social-text">Login<span class="hidden-xs"> as Facebook</span></span></button>
        <button md-button class="md-block tw" *ngIf="1 == 2">
        <img src="assest/images/twitter_icon.png" class="social-icon pull-left"/> <span class="social-text">Login<span class="hidden-xs"> as Twitter</span></span></button>
        <button md-raised-button class="md-block gg" (click)="gLogin()">
        <img src="assest/images/google_icon.png" class="social-icon pull-left"/> <span class="social-text">Login<span class="hidden-xs"> as Google</span></span></button>
    </md-dialog-content>
</div>