<div>
    <h1 md-dialog-title>CREATE NEW PLAYLIST
        <button md-dialog-close class="pull-right close"><md-icon>close</md-icon></button></h1>

    <form (keydown.enter)="$event.preventDefault()">
        <md-dialog-content class="dialog-container" style="overflow: hidden;">
            <md-input-container class="md-block">
                <input mdInput name="name" placeholder="Name" autofocus [(ngModel)]="playlist.name" required />
                <md-hint align="end"></md-hint>
            </md-input-container>
            <md-input-container class="md-block">
                <textarea mdInput placeholder="Description" name="description" [(ngModel)]="playlist.description"></textarea>
            </md-input-container>
            <section class="md-block">
                <md-checkbox name="shared" [(ngModel)]="playlist.shared">Is shared</md-checkbox>
            </section>
        </md-dialog-content>
        <md-dialog-actions>
            <button md-dialog-close type="button" md-button color="warn">
                <md-icon>delete</md-icon> Cancel
            </button>
            <button type="button" md-raised-button color="primary" (click)="save()">
                <md-icon>save</md-icon> Save playlist
            </button>
        </md-dialog-actions>
    </form>
</div>