app, header-partial, sidebar-partial, ng-component,footer-partial{
    display: block;
}
.text-success .icon, .text-success .fa{
  color: #1ab667;
}
app .loading{
    width: 256px;
    height: 256px;
    left: 50%;
    display: block;
    top: 50%;
    margin-left: -128px;
    position: absolute;
    margin-top: -128px;
}

a{
    cursor: pointer;
}

.md-block{
    width: 100%;
    display: block;
}

a.playlist-item:hover i.info, a.playlist-item:hover b.info{
    display: none !important;
}

a.playlist-item:hover i.action, a.playlist-item:hover b.action{
    display: block !important;
}

a.playlist-item i.action, a.playlist-item b.action{
    display: none !important;
}