/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body, app{
  height: 100%;
  width: 100%;
  display: block;
  margin: 0;
  background-color: #333;
  font-family: 'Righteous', cursive;
}

sidebar{
  z-index: 1;
  position: absolute;
}

body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
playlist, playlistcreate{
  padding: 0 20px;
}

div img.mini-loading{
  height: 32px;
  width: 32px;
  left: 50%;
  margin-top: -10px;
}

div.loading{
  left: 50%;
  top: 50%;
  height: 200px;
  width: 200px;
  margin-left: -100px;
  margin-top: -100px;
  position: absolute;
}
.margin-bottom-xs{
  margin-bottom: 10px;
}
.margin-top-xs{
  margin-top: 10px;
}
.margin-top-md{
  margin-top: 20px;
}

.margin-top-xlg{
  margin-top: 40px;
}
.margin-right-xs{
  margin-right: 10px;
}
.margin-left-xs{
  margin-left: 10px;
}

.no-padding-l-r{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.no-padding-l{
  padding-left: 0px !important;
}
.no-padding-r{
  padding-right: 0px !important;
}

.padding-right-xs{
    padding-right: 10px;
}

.padding-left-xs{
    padding-left: 10px;
}

.full-width{
  width: 100%;
}

ng-component, search{
  background: white;
  color: #333;
  text-shadow: 0 1px 3px rgba(255,255,255, .5);
  width: 80%;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 3px grey;
}

.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}

.text-center{
  text-align: center;
}